<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<body>
<div id="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xs-2"></div>
            <div class="col-xs-10">
                <div class="apiKey">
                    <header>
                        <h1> <%= username %>'s Dashboard</h1>
                    </header>
                    <ul>
                        <% for(var i=0; i < apiKeys.length; i++) {%>
                        <li>ID: <%= apiKeys[i].id %> KEY: <%= apiKeys[i].secret %></li>
                        <% } %>
                    </ul>
                </div>

            </div>

        </div>

    </div>

</div>
</div>

</body>
</html>