<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title><!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css" >
<body>
    <div class="container">
        <header>
            <h1 class="text-center"> <%= username %>'s Dashboard</h1>
        </header>
        <div class="row">
            <div class="col col-sm-4 col-md-6 col-lg-6"><strong>ID</strong></div>
            <div class="col col-sm-8 col-md-6 col-lg-6">KEY</div>
        </div>
        <% for(var i=0; i < apiKeys.length; i++) {%>
        <div class="row">
            <div class="col col-sm-4 col-md-6 col-lg-6"><strong> <%= apiKeys[i].id %> </strong></div>
            <div class="col col-sm-8 col-md-6 col-lg-6"> <%= apiKeys[i].secret %></div>
        </div>
        <% } %>
    </div>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</body>
</html>