<% var title = 'Dashboard' %>
<% include head.ejs %>
<header>
    <h1 class="text-center"> <%= username %>'s Dashboard</h1>
</header>

<%- message %>
        <div class="row">
            <div class="col col-sm-4 col-md-6 col-lg-6"><strong>ID</strong></div>
            <div class="col col-sm-8 col-md-6 col-lg-6">KEY</div>
        </div>
        <% for(var i=0; i < apiKeys.length; i++) {%>
        <div class="row">
            <div class="col col-sm-4 col-md-6 col-lg-6"><strong> <%= apiKeys[i].id %> </strong></div>
            <div class="col col-sm-8 col-md-6 col-lg-6"> <%= apiKeys[i].secret %></div>
        </div>
        <% } %>

<% include foot.ejs %>