<% var title = 'Login' %>
<% include head.ejs %>
<% include alert.ejs %>

<header>
    <h1 class="text-center"> Login</h1>
</header>

<form method="post" action="/Login">
    <p>
        <label for="username">Username:</label>
        <input type="text" name="username">
    </p>
    <p>
        <label for="password">Password:</label>
        <input type="password" name="password">
    </p>
    <p>
        <input type="submit" class="btn btn-default" value="Login" >
    </p>
    <a href="/register" class="btn btn-default">Register</a>
</form>
<% include foot.ejs %>