<% var title = 'Login' %>
<% include head.ejs %>
<% include alert.ejs %>

<header>
    <h1 class="text-center"> Login</h1>
</header>

<form method="post" action="/Login">

    <div class="row">
        <div class="col col-sm-4 col-md-2 col-lg-2"><label for="firstName">Email Address:</label></div>
        <div class="col col-sm-8 col-md-14 col-lg-14"><input type="email" name="email"></div>
    </div>
    <div class="row">
        <div class="col col-sm-4 col-md-2 col-lg-2"><label for="firstName">Password:</label></div>
        <div class="col col-sm-8 col-md-14 col-lg-14"><input type="password" name="password"></div>
    </div>
    <div class="row">
        <input type="submit" class="btn btn-default" value="Login" >
    </div>
    <div class="row">
        <a href="/register" class="btn btn-default">Register</a>
    </div>
</form>
<% include foot.ejs %>